@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
  --depth: 0;
}

.btn {
  @apply animate-[button-pop_0.25s_ease-out] shadow-none transition duration-200 ease-out;

  &:active {
    &:hover,
    &:focus {
      @apply translate-none scale-97 animate-[button-pop_0s_ease-out];
    }
  }

  &:not(.btn-active, .btn-ghost, .btn-soft, .btn-outline, .btn-dash) {
    --btn-bg: var(
      --btn-color,
      color-mix(in oklab, var(--color-base-content) 2.5%, var(--color-base-100))
    );
  }

  .btn-active,
  &:hover {
    --btn-bg: var(
      --btn-color,
      color-mix(in oklab, var(--color-base-content) 11%, var(--color-base-100))
    );
  }

  &:not(.btn-outline, .btn-dash) {
    @apply border-none;
  }
}

@keyframes button-pop {
  0% {
    scale: 0.98;
  }
  40% {
    scale: 1.02;
  }
  to {
    scale: 1;
  }
}
